<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .menu_div {
            border: 1px solid black;
            display: flex;
            justify-content: space-around;
            padding-top: 10px;
            padding-bottom: 10px
        }
        th {
            width: 100px;
            text-align: center;
        }
        td {
            text-align: center;   
        }
        table {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>My Favourite Locations</h1>
<div class="menu_div">
    <a class="menu-item" href=""/>Home</a>
    <a class="menu-item" href="/add-location"/>Add Location</a>
    <a class="menu-item" href=""/>About US</a>
</div>
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody id="location-table">
        {% for location in locations %}
            <tr>
                <td>{{location.id}}</td>
                <td>{{location.name}}</td>
                <td>{{location.desc}}</td>
                <td>Edit</td>
                <td><a href="/delete/{{location.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>


</table>

</body>
</html>
